<section class="sct-color-1 ">
  <div class="masonry-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
 
          <% @sakes.each do |sake| %>
            <div class="masonry-block">
              <div class="block block-image">
                <div class="c">
                  <div class="sake-image">
                    <%= link_to sake_path(sake.id) do %>
                      <%= attachment_image_tag sake, :image,:fill, 500, 500, fallback: "noimage.png" %>
                    <% end %>
                  </div>
                </div>
                <div class="block-content">
                  <%= attachment_image_tag sake.user, :profile_image, :fill, 60, 60, fallback: "noimage.png", class: "profile-thumb" %>
                  <h3 class="block-title">
                    <%= link_to sake_path(sake.id) do %>
                    <i class="fa fa-map-marker" aria-hidden="true"></i><%= sake.title %>
                    <% end %>
                  </h3>
                  <p><%= sake.body %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= sake.user.name %>
                    </li>
                    <li>
                    <i class="far fa-comment"></i>
                    <%= link_to "#{sake.sake_comments.count} コメント", sake_path(sake.id) %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
    
      </div>
    </div>
  </div>
</section>